---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/botTEST_BOT_API_TOKEN/getMe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"id":1234,"is_bot":true,"first_name":"telegram-bot-gem-test","username":"gem_test_bot"}}'
  recorded_at: Mon, 06 Aug 2018 22:06:50 GMT
recorded_with: VCR 4.0.0
